

body{
    margin: 0px;
}

.box{
    border: 3px solid;
    font-size: 0.5em;
    height: 200px;
    width: 200px;
}

#box1{
    background-color: hsl(0, 46%, 44%);
    /* margin-top: 50px;
    margin-left: 20px; */
    margin: auto;
}

#box2{
    background-color: hsl(237, 70%, 50%);
    margin-top: 50px;
    margin: auto;
}